Recuperando senha

Uma solicitação de recuperação de senha foi realizada para o email ({{ email }}). Se você não foi o autor dessa requisição, verifique sua conta.

Para continuar com a recuperação utilize o token ({{ token }}).
