<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o email ({{ email }}). Se você não foi o autor dessa requisição, verifique sua conta.</p>

<p>Para continuar com a recuperação utilize o token (<strong>{{ token }}</strong>) ou clique no link abaixo:</p>

<a href="{{ link }}">Criar nova senha</a>
